# Stellar Network Configuration
NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
NEXT_PUBLIC_HORIZON_URL=https://horizon-testnet.stellar.org

# StellarGigs Smart Contract IDs (stellar_gigs & reputation_token)
NEXT_PUBLIC_CROWDFUND_CONTRACT_ID=
NEXT_PUBLIC_REWARD_TOKEN_CONTRACT_ID=

# Deployer / Escrow configurations
NEXT_PUBLIC_DEPLOYER_ADDRESS=GAUS5N5VFEIWUD2OXLPLCXHZGW5WYOYS2RBMRQ74BFS3P4XYUYDQEK2Q
NEXT_PUBLIC_NATIVE_TOKEN_ADDRESS=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC
